*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
body{
    display: grid;
    place-items: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f5f5f5;
}

.div-for-all {
    width: 50%;
    height: fit-content;
    box-shadow: 0px 0px 50px 0px rgba(77, 77, 77, 0.1) ;
}

form{
    border-bottom: 2px solid rgba(77, 77, 77, 0.1);
}

h1{
    margin: 2%;
    color: red;
    text-align: center;
    font-size: 80px;
    font-weight: 200;
}

input:focus {outline:none;}
#userInput:focus, #allTodos button:focus{
    border-color: rgba(255, 0, 0, 0.377);
    box-shadow: 0 0 4px red;
}

#checkAll {
    visibility: hidden;
    position: absolute;
    margin: 20px;
}

#allTodos{
    display: none;
    flex-direction: rows;
    justify-content: center;
    height: 40px;
    background-color: white;
    box-shadow: 0 3px 2px -2px gray;
    margin-top: 1px;
}
#allTodos button{
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border: 0;
    background-color: white;
    font-size: 15px;
    cursor: pointer;
}

#userInput{
    height: 60px;
    font-size: 24px;
    font-style: italic;
    border-style: none;
    width: 100%;
    padding-left: 30px;
    padding-left: 60px;
}

.todoItemDiv {
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.todoItemDiv:hover {
    .todoDeleteButton {
        visibility: visible;
    }
}

.todoListItem {
    font-size: 24px;
    margin-right: 75%;
    align-self: center;
}

.todoCheckBox {
    width: 15px;
    height: 15px;
    margin: 15px;
}

.todoDeleteButton {
    position: relative;
    margin-right: 20px;
    margin-top: 15px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: white;
    
}

label p{
    margin: 2%;
    color: #4d4d4d;
    font-size: 11px;
    text-align: center;
}
